.header{
    background-color: black;
}

.header__inner{
    max-width: 1230px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.header__logo{
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.header__category{
    text-decoration: none;
    color: white;
    padding: 20px 0;
}